
.foto-principal{
    width: 300px;
    border: 5px solid #ffffff;  /* shorthand - Deve seguir essa ordem (px, style, color) */
    border-radius:  50%;
    border-style: double groove;

    /*
    border-width: 2px;
    border-style: solid;
    border-color: #ffffff;
    */

    }


body{
    background: rgb(162, 159, 159);
}

p {
    color: #292828;
}
